In [11]:
with open('One.txt') as myetxt:
    words_one = myetxt.read().lower().split()
    unique_1 = set(words_one)

In [12]:
unique_1

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [22]:
with open('Two.txt') as myetxt:
    words_two = myetxt.read().lower().split()
    unique_2 = set(words_two)

In [23]:
unique_2

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [24]:
all_words = set()
all_words.update(unique_1)
all_words.update(unique_2)

In [25]:
all_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [26]:
full_vocab = dict()
i=0
for word in all_words:
    full_vocab[word] = i
    i+=1

In [27]:
full_vocab

{'furry': 0,
 'this': 1,
 'water': 2,
 'waves': 3,
 'our': 4,
 'surfing': 5,
 'fun': 6,
 'canine': 7,
 'pets': 8,
 'is': 9,
 'a': 10,
 'are': 11,
 'catching': 12,
 'sport': 13,
 'about': 14,
 'dogs': 15,
 'story': 16,
 'popular': 17,
 'animals': 18}

In [28]:
one_freq = [0]*len(full_vocab)
two_freq = [0]*len(full_vocab)
all_ = ['']*len(full_vocab)

In [29]:
with open('One.txt') as f:
    one_text = f.read().lower().split()

In [30]:
for word in one_text:
    word_ind = full_vocab[word]
    one_freq[word_ind] += 1

In [31]:
one_freq

[1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 2, 1, 0, 1]

In [32]:
with open('Two.txt') as f:
    two_text = f.read().lower().split()

In [33]:
for word in two_text:
    word_ind = full_vocab[word]
    two_freq[word_ind] += 1

In [35]:
two_freq

[0, 1, 1, 1, 0, 2, 1, 0, 0, 3, 1, 0, 1, 1, 1, 0, 1, 1, 0]

In [39]:
for word in full_vocab:
    word_ind = full_vocab[word]
    all_[word_ind] = word

In [40]:
all_

['furry',
 'this',
 'water',
 'waves',
 'our',
 'surfing',
 'fun',
 'canine',
 'pets',
 'is',
 'a',
 'are',
 'catching',
 'sport',
 'about',
 'dogs',
 'story',
 'popular',
 'animals']

In [41]:
import pandas as pd

In [42]:
bow = pd.DataFrame(data=[one_freq,two_freq],columns=all_)

,furry,this,water,waves,our,surfing,fun,canine,pets,is,a,are,catching,sport,about,dogs,story,popular,animals
0,1,1,0,0,1,0,0,1,1,1,1,1,0,0,1,2,1,0,1
1,0,1,1,1,0,2,1,0,0,3,1,0,1,1,1,0,1,1,0

## This is know as bag of words